
#art {
  position: relative;
  width: 25%;
  height: 44%;
  top: 4%;
  left: 51%;
}

#art2 {
  position: relative;
  width: 16.25%;
  height: 44%;
  top: -47%;
  left: 51%;
}

.clickText {
  padding: 6% 20px 0 20px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: grey;
  font-weight: lighter;
}


.art-body {
  /*border: 3px solid black;*/
  height: 420px;
  width: 420px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-45deg);
}

.art-body::hover {
  border: 3px solid black;

}

.btn {
  width: 200px;
}



.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container1 {
  /*benchmark for other positioning*/
}

.container2 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: 150%;
  bottom: 79%;
  background-position: center;

  -webkit-transition: opacity 15s ease-in-out;
  -moz-transition: opacity 15s ease-in-out;
  -o-transition: opacity 15s ease-in-out;
  transition: opacity 15s ease-in-out;
}

.container3 {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  bottom: 114%;
  left: 38%;
}

.container4 {
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  bottom: 193%;
  right: 113%;
}

.container5 {
  left: 153%;
  top: 16%;
  width: 117%;
}

.container6 {
  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 54%;
    left: 85%;
}

.container7 {
  -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: 77%;
    right: 290%;
}


.container8 {
  -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  bottom: 315.5%;
  right: 204%;
}


.art {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.art2 {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 700px) {
    .art-body {
      height: 300px;
      width: 300px;
        /*background-color: lightblue;*/
    }
}

@media only screen and (max-width: 550px) {
  .art-body {
    margin-top: 60px;
    height: 190px;
    width: 190px;
  }
}

.rotate-scale-up {
	-webkit-animation: rotate-scale-up 500s linear infinite alternate both;
	        animation: rotate-scale-up 500s linear infinite alternate both;
}


@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes turnit {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes turnitOtherWay {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}


@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
