* {
  box-sizing: border-box;
}
html, body { margin: 0; height: 100% }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://www.webdesignerdepot.com/cdn-origin/uploads/2014/05/featured@wdd2x.jpg');

  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: repeat-y;

}
